html {
    overflow-y: scroll;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  position: relative;
  margin: 20px auto;
  width: 750px;
  height: 500px;
}

.datamap {
  border: 2px solid #2F0035;
}

.datamap path:hover {
  fill: #375682 !important;
}

.datamap path.active {
  fill: black !important;
}

#game {
  margin: auto;
  text-align: center;
}

button {
  border-radius: 4px;
  padding: 12px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  text-decoration: none;
}

button:focus {
  outline: none;
}

.start-button {
  background-color: #08A400;
  color: white;
  border: 1px solid #067200;
}

.start-button:hover {
  background-color: #09C000;
  color: white;
}

.restart-button {
  background-color: #F50808;
  color: white;
  border: 1px solid #9B2006;
}

.restart-button:hover {
  background-color: #DF0000;
  color: white;
}


.skip-button {
  background-color: #10587F;
  color: white;
  border: 1px solid #031C29;
  margin: 15px 0px;
}

.skip-button:hover {
  background-color: #0B415E;
  color: white;
}

.state-name {
  border: 3px solid #2F0035;
  display: inline-block;
  padding: 0px 20px;
  color: #2F0035;
}

.counter {
  display: inline-block;
  font-size: 150%;
  margin: 0.5em 0px;
  color: #2F0035;
  font-weight: bold;
}

.counter p {
  margin: 0;
}
